:host {
  display: flex;
  align-items: center;
}

.data-row {
  white-space: nowrap;
  width: 100%;
}

.data-icon {
  position: relative;
  top: -2px;
  vertical-align: middle;
  height: 26px;
  width: auto;
  margin-left: -4px;
  margin-top: -2px;
}

.number {
  font-size: 20px;
  font-weight: bold;
}

.text {
  font-size: 16px;
}