<div class="data-row">
    <img src="assets/icons/{{icon}}.svg" class="data-icon"/>
    <span [class.number]="isNumber()" [class.text]="!isNumber()">{{value}}</span>
    <span class="text">{{unit}}</span>
</div>