<md-card *ngIf="model" class="wgs-card">
    <md-card-title>{{model.title}}</md-card-title>
    <md-card-content>
        <app-icon-value
                icon="thermometer-scaled"
                [value]="model.temperature"
                unit="°C">
        </app-icon-value>
        <app-icon-value
                icon="hygrometer-scaled"
                [value]="model.humidity"
                unit="%">
        </app-icon-value>
    </md-card-content>
</md-card>