<h2 md-dialog-title>{{data.switch.input.title}}</h2>
<md-dialog-content>Bitte wählen:</md-dialog-content>
<md-dialog-actions class="actions">
  <button md-raised-button md-dialog-close="off" [color]="data.switch.input.state === 'off'? 'primary':''"><img src="assets/icons/off.svg"></button>
  <button md-raised-button md-dialog-close="on" [color]="data.switch.input.state === 'on'? 'primary':''"><img src="assets/icons/on.svg"></button>
  <button md-raised-button md-dialog-close="auto" [color]="data.switch.input.state === 'auto'? 'primary':''"><img src="assets/icons/auto.svg"></button>
</md-dialog-actions>
