<md-card class="wgs-card">
  <md-card-title>{{header}}</md-card-title>
  <md-card-content>
    <app-tacho [max]="max" [value]="value" [redToGreen]="redToGreen" width="82"></app-tacho>
    <div class="value">{{getPercent()}}%</div>
  </md-card-content>
</md-card>