<md-card *ngIf="model" class="wgs-card">
  <md-card-content>
    <app-icon-value *ngFor="let window of model"
            icon="window-{{window.closed ? 'closed' : 'open'}}"
            [value]="window.title">
    </app-icon-value>
  </md-card-content>
</md-card>