<svg [attr.width]="width" [attr.height]="height">
    <path [attr.d]="fillPath" [attr.fill]="fillColor"/>
    <path [attr.d]="borderPath" stroke="black" [attr.stroke-width]="borderWidth" fill="none"/>
</svg>

