<md-dialog-actions>
  <button md-dialog-close="shutdown" md-raised-button>Ausschalten</button>
  <button md-dialog-close="wgsrestart" md-raised-button>Server neu starten</button>
  <button md-dialog-close="reload" md-raised-button>Frontend neu laden</button>
</md-dialog-actions>
