<md-grid-list cols="4" rowHeight="50vh - 2px">
    <md-grid-tile *ngFor="let switch of switches">
        <app-switch
                [switch]="switch"
                class="switch">
        </app-switch>

    </md-grid-tile>
    <md-grid-tile>
        <div class="switch">
            <button md-raised-button
                    (shortPress)="this.navigateTo('weather')"
                    (longPress)="this.navigateTo('system')"
                    color="primary"
                    style="width: 100%; height: 100%;">
                <img src="assets/icons/thermometer.svg" class="icon-big"/><br>
                <span style="font-size: 14px">Wetter</span>
            </button>
        </div>
    </md-grid-tile>
</md-grid-list>