<md-grid-list cols="4" rowHeight="50vh - 2px">
    <md-grid-tile>
        <app-tile-sensor
                class="tile"
                name="insidemix">
        </app-tile-sensor>
    </md-grid-tile>
    <md-grid-tile>
        <app-tile-sensor
                class="tile"
                name="inside">
        </app-tile-sensor>
    </md-grid-tile>
    <md-grid-tile>
        <app-tile-sensor
                class="tile"
                name="window">
        </app-tile-sensor>
    </md-grid-tile>
    <md-grid-tile>
        <app-tile-solarpanel
                class="tile"
                name="roof">
        </app-tile-solarpanel>
    </md-grid-tile>
    <md-grid-tile colspan="2">
        <app-tile-weatherstation
                class="tile"
                name="outside">
        </app-tile-weatherstation>
    </md-grid-tile>
    <md-grid-tile>
        <app-tile-window
                class="tile"
                name="">
        </app-tile-window>
    </md-grid-tile>
    <md-grid-tile>
        <div class="tile">
            <button md-raised-button
                    (shortPress)="this.navigateTo('buttons')"
                    (longPress)="this.navigateTo('system')"
                    color="primary"
                    style="width: 100%; height: 100%;">
                <img src="assets/icons/buttons.svg" class="icon-big"/><br>
                <span style="font-size: 14px">Schalter</span>
            </button>
        </div>
    </md-grid-tile>
</md-grid-list>