<md-card class="wgs-card">
  <md-card-title>{{header}}</md-card-title>
  <md-card-content>
    <app-icon-value
            icon="wifi"
            [value]="ssid"
            unit="">
    </app-icon-value>
    <app-icon-value
            icon="ip-local"
            [value]="ipLocal"
            unit="">
    </app-icon-value>
    <app-icon-value
            icon="ip-remote"
            [value]="ipRemote"
            unit="">
    </app-icon-value>
  </md-card-content>
</md-card>