<div (click)="interact()">
    <div class="spinner-container" [hidden]="hideSpinner()">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <app-buttons *ngIf="page == 'buttons'" (onNavigate)="navigateTo($event)">
    </app-buttons>
    <app-weather *ngIf="page == 'weather'" (onNavigate)="navigateTo($event)">
    </app-weather>
    <app-system *ngIf="page == 'system'" (onNavigate)="navigateTo($event)">
    </app-system>
    <app-screensaver [hidden]="hideScreensaver()"></app-screensaver>
</div>