<md-card class="wgs-card">
  <md-card-title>{{header}}</md-card-title>
  <md-card-content>
    Aktualisiert:<br>
    {{time.update | date:'HH:mm'}} Uhr
    <br>
    Läuft seit: <br>
    {{time.up}}
  </md-card-content>
</md-card>