<button md-raised-button
        *ngIf="switch"
        (click)="showDialog()"
        [class.on]="switch.output.state"
        [class.off]="!switch.output.state"
        class="button">

  <img src="assets/icons/{{switch.input.icon}}.svg" class="icon-big"/><br>
  <span style="font-size: 14px">{{switch.input.title}}</span>
</button>
