/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

html, body, .cdk-global-scrollblock {
  /* hide scrollbars */
  overflow-y: hidden !important;
  margin: 0px;
  padding: 0px;
}

.cdk-overlay-backdrop {
  transition: none !important;
}

.icon-big {
  width: 100%;
  max-width: 66px;
}

.mat-card {
  display: flex !important;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 16px !important;
}

.mat-card-title {
  display: flex !important;
}

.mat-card-content {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}

.mat-grid-tile {
  overflow: visible !important;
}

.loading {
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  text-align: center;
}