@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-yellow, 400);
$accent: mat-palette($mat-light-blue, 600, A100, A400);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);