<md-card *ngIf="model" class="wgs-card">
    <md-card-title>{{model.title}}</md-card-title>
    <md-card-content>
        <md-grid-list cols="2" rowHeight="43">
            <md-grid-tile>
                <app-icon-value class="tile"
                        icon="thermometer-scaled"
                        [value]="model.temperature"
                        unit="°C">
                </app-icon-value>
            </md-grid-tile>
            <md-grid-tile>
                <app-icon-value class="tile"
                        icon="wind"
                        [value]="model.wind_speed"
                        unit="km/h">
                </app-icon-value>
            </md-grid-tile>
            <md-grid-tile>
                <app-icon-value class="tile"
                        icon="hygrometer-scaled"
                        [value]="model.humidity"
                        unit="%">
                </app-icon-value>
            </md-grid-tile>
            <md-grid-tile>
                <app-icon-value class="tile"
                        icon="{{model.raining ? 'rain-true' : 'rain-false'}}"
                        [value]="model.rain_amount - model.rain_amount_offset"
                        unit="mm">
                </app-icon-value>
            </md-grid-tile>
        </md-grid-list>
    </md-card-content>
</md-card>