<md-card *ngIf="model" class="wgs-card">
  <md-card-title>{{model.title}}</md-card-title>
  <md-card-content>
    <app-icon-value
            icon="solarpanel"
            [value]="model.power"
            unit="W">
    </app-icon-value>
  </md-card-content>
</md-card>