<md-grid-list cols="4" rowHeight="50vh - 2px" *ngIf="system">
    <md-grid-tile>
        <app-tile-system-monitoring class="tile"
                                    header="CPU"
                                    [value]="system.cpu.value"
                                    [max]="system.cpu.max">
        </app-tile-system-monitoring>
    </md-grid-tile>
    <md-grid-tile>
        <app-tile-system-monitoring class="tile"
                                    header="Memory"
                                    [value]="system.mem.value"
                                    [max]="system.mem.max">
        </app-tile-system-monitoring>
    </md-grid-tile>
    <md-grid-tile>
        <app-tile-system-monitoring class="tile"
                                    header="WiFi"
                                    [value]="system.wifi.value"
                                    [max]="system.wifi.max"
                                    [redToGreen]="true">
        </app-tile-system-monitoring>
    </md-grid-tile>
    <md-grid-tile>
        <app-tile-system-time class="tile"
                                    header="Zeiten"
                                    [time]="system.time">
        </app-tile-system-time>
    </md-grid-tile>
    <md-grid-tile>
        <div class="tile">
            <button md-raised-button
                    color="secondary"
                    (click)="openPowerDialog()"
                    style="width: 100%; height: 100%;">
                <img src="assets/icons/power.svg" class="icon-big"/><br>
                <span style="font-size: 14px">Power</span>
            </button>
        </div>
    </md-grid-tile>
    <md-grid-tile colspan="2">
        <app-tile-network-monitoring class="tile"
                                     header="Netzwerk"
                                     [ssid]="system.wifi.ssid"
                                     [ipLocal]="system.ip.local"
                                     [ipRemote]="system.ip.remote">
        </app-tile-network-monitoring>
    </md-grid-tile>
    <md-grid-tile>
        <div class="tile">
            <button md-raised-button
                    (click)="this.navigateTo('weather')"
                    color="primary"
                    style="width: 100%; height: 100%;">
                <img src="assets/icons/thermometer.svg" class="icon-big"/><br>
                <span style="font-size: 14px">Wetter</span>
            </button>
        </div>
    </md-grid-tile>
</md-grid-list>